<div class="site-header__wrap">
  <div class="container">
    <div class="row in-view">
      <div class="col-12 col-xl-10 offset-xl-1">
        <div class="site-header__elements">
          <div class="site-header__mobile hidden-lg-up">
            <button class="site-header__mobile--trigger side-menu-trigger">
              <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
          </div>
          <div class="site-header__branding">
            <div class="site-branding">
              <a href="index.html">
                <%= image_tag 'logo-gem.png', width: '232', height: '144' %>
              </a>
            </div>
          </div>
          <div class="site-header__nav hidden-md-down">
            <div class="site-header__menu">
              <nav class="main-navigation" aria-label="Site Menu" role="navigation">
                <div class="menu-top-menu-container">
                  <ul class="menu" id="top-menu">
                    <li>
                      <a href="#speakers">Speakers</a>
                    </li>
                    <li>
                      <a href="#sponsors">Sponsors</a>
                    </li>
                    <li>
                      <a href="#venue">Venue</a>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
          <div class="site-header__cta hidden-sm-down">
            <a class="btn btn--secondary" href="http://howler.co.za/rubyfuza2019">Register now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>