<section id="cta">
  <div class="cta cta--darken cta--secondary in-view" data-offset="90%">
    <div class="cta__copy text-center">
      <h5>
        <span style="color: #fff;">33% off for early birds</span>
      </h5>
      <div class="d-inline-block margin-top margin-bottom in-view__child in-view__child--scalein">
        <a class="btn" href="http://howler.co.za/rubyfuza2019">Get your tickets today</a>
      </div>
    </div>
  </div>
</section>