<div class="widget-area" role="complementary">
  <div class="container">
    <div class="row in-view">
      <div class="col-12 col-md-4 col-xl-2 offset-xl-1">
        <div class="widget">
          <div class="widget_socials">
            <div class="site-branding">
              <a href="index.html">
                <%= image_tag 'logo-gem.png', width: '232', height: '144' %>
              </a>
            </div>
            <div class="widget_socials__list">
              <a class="widget_socials__item" href="https://twitter.com/rubyfuza?lang=en" target="_blank">
                <div class="sr-only">Follow us</div>
                <i class="fa fa-twitter-square"></i>
              </a>
              <a class="widget_socials__item" href="https://www.youtube.com/user/Rubyfuza" target="_blank">
                <div class="sr-only">Follow us</div>
                <i class="fa fa-youtube"></i>
              </a>
              <a class="widget_socials__item" href="https://www.instagram.com/rubyfuza/" target="_blank">
                <div class="sr-only">Follow us</div>
                <i class="fa fa-instagram"></i>
              </a>
              <a class="widget_socials__item" href="https://www.facebook.com/Rubyfuza/" target="_blank">
                <div class="sr-only">Follow us</div>
                <i class="fa fa-facebook"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 col-xl-2">
        <div class="widget">
          <h2 class="widget-title">Contact</h2>
          <div class="widget_nav_menu">
            <ul>
              <li>
                <a href="mailto:info@rubyfuza.org">info@rubyfuza.org</a>
              </li>
              <li>
                <a href="/downloads/Rubyfuza%202019%20Sponsorship%20Prospectus.pdf">Be a sponsor</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 offset-md-4 col-xl-2 offset-xl-0">
        <div class="widget">
          <h2 class="widget-title">Follow us</h2>
          <div class="widget_nav_menu">
            <ul>
              <li>
                <a href="https://twitter.com/rubyfuza?lang=en" target="_blank">Twitter</a>
              </li>
              <li>
                <a href="https://www.youtube.com/user/Rubyfuza" target="_blank">Youtube</a>
              </li>
              <li>
                <a href="https://www.instagram.com/rubyfuza/" target="_blank">Instagram</a>
              </li>
              <li>
                <a href="https://www.facebook.com/Rubyfuza/" target="_blank">Facebook</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-4 col-xl-2">
        <div class="widget">
          <h2 class="widget-title">Legal terms</h2>
          <div class="widget_nav_menu">
            <ul>
              <li>
                <%= link_to 'Code of Conduct', '/coc.html' %>
              </li>
              <li>
                <%= link_to 'Icons', 'https://fontawesome.com', target: "_blank" %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>