<section class="section" id="registration" style='margin-top: 200px;'>
  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-10 offset-xl-1 text-center">
        <h2 class="margin-top">
          <span>Meet top
            <span class="color--secondary">digital masters </span>
            <br class="hidden-sm-down"> & influencers in an awesome
            <br class="hidden-sm-down">
            <span class="color--secondary">2-day </span> experience.</span>
        </h2>
        <h5>
          <span>7th & 8th Feb 2019</span>
        </h5>
        <p class="sub-head in-view__child dashed dashed--vertical">
          R1000 Early Bird || R1500 Full Price
        </p>
        <p class="padding-top margin-top in-view" data-offset="90%">
          <span class="d-inline-block in-view__child in-view__child--scalein">
            <a class="btn btn--primary" href="http://howler.co.za/rubyfuza2019">Get tickets now</a>
          </span>
        </p>
      </div>
    </div>
  </div>
</section>