<div class="site-sidenav" id="sidenav">
  <div class="site-sidenav__overlay side-menu-swipeable"></div>
  <div class="site-sidenav__elements side-menu-swipeable">
    <div class="site-sidenav__branding">
      <div class="site-branding">
        <a href="index.html">
          <%= image_tag 'logo-gem.png', width: '232', height: '144' %>
        </a>
      </div>
    </div>
    <div class="site-sidenav__nav">
      <div class="site-sidenav__menu">
        <nav class="sidenav-navigation" aria-label="Site Mobile Menu" role="navigation">
          <div class="menu-sidenav-menu-container">
            <ul class="menu" id="sidenav-menu">
              <li>
                <a href="blog.html">Speakers</a>
              </li>
              <li>
                <a href="404.html">Schedule</a>
              </li>
              <li>
                <a href="404.html">Sponsors</a>
              </li>
              <li>
                <a href="404.html">Venue</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <div class="site-sidenav__cat hidden-md-up">
      <a class="btn btn--secondary" href="http://howler.co.za/rubyfuza2019">Register now</a>
    </div>
  </div>
</div>