%section#previous_years
  .wrapper
    %h1.heading
      %a{:name=>"Previous Years"}
      %span Previous Years
    %ul.year_links
      %li.fourth
        %span
          = link_to "Rubyfuza - 2014", "/2014.html"
      %li.fourth
        %span
          = link_to "Rubyfuza - 2015", "/2015.html"
      %li.fourth
        %span
          = link_to "Rubyfuza - 2016", "/2016.html"
      %li.fourth
        %span
          = link_to "Rubyfuza - 2017", "/2017.html"
