<section class="section" id="speakers">
  <div class="container">
    <div class="row in-view">
      <div class="col-12 col-xl-10 offset-xl-1">
        <div class="reveal reveal--left">
          <h3 class="in-view__child in-view__child--fadein">What is Rubyfuza?</h3>
          <div class="reveal__copy indent">
            <p class="in-view__child in-view__child--fadein">
              Rubyfuza is the longest run Ruby conference in South Africa. 2019 will be the 8th event held in Cape Town
              This year we will be opening the conference up!
            </p>
            <div class="row">
              <div class="col-12 col-md-4 in-view__child in-view__child--fadein">
                <h6>Related languages:</h6>
                <p class="sub-head in-view__child">Elixir</p>
                <p class="sub-head in-view__child">Crystal</p>
                <p class="sub-head in-view__child">React</p>
                <p class="sub-head in-view__child">Vue</p>
              </div>
              <div class="col-12 col-md-4 in-view__child in-view__child--fadein">
                <h6>Related Tools:</h6>
                <p class="sub-head in-view__child">Docker</p>
                <p class="sub-head in-view__child">Terraform</p>
                <p class="sub-head in-view__child">Webpacker</p>
                <p class="sub-head in-view__child">Hamani</p>
              </div>
              <div class="col-12 col-md-4 in-view__child in-view__child--fadein">
                <h6>People related:</h6>
                <p class="sub-head in-view__child">Leadership</p>
                <p class="sub-head in-view__child">Mentorship</p>
                <p class="sub-head in-view__child">Support</p>
                <p class="sub-head in-view__child">Culture</p>
              </div>
              <p class="in-view__child in-view__child--fadein">
                Something cool you have been playing with, or have you done something that has improved your career? We want your submissions! Submit below and show us what you got!
              </p>
              <p class="padding-top margin-top in-view" data-offset="90%">
              <span class="d-inline-block in-view__child in-view__child--scalein">
                  <a class="btn btn--primary" href="https://www.papercall.io/rubyfuza">I'd like to speak at Fuza 2019</a>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>