.wrapper
  %a{:name=>"about"}
  %h1
    %a{:href=>"/", :alt=>"Rubyfuza Home"}
      = image_tag "logo-gem.png", :class => 'logo'
      = "ruby<span>fu</span>za <span>2014</span>"
  %h2
    _-_ February 2016
    %span Cape Town, South Africa
