<section class="section section--fit" id="venue">
  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-10 offset-xl-1">
        <div class="venue">
          <div class="map map--fullwidth">
            <div class="google-map" data-key="AIzaSyDGo0MP-uQRubYprrbNejpPiq3t4J43Q5E" data-location="{&quot;lat&quot;:-33.92008638,&quot;lng&quot;:18.42094494}" data-address="" data-marker="true" data-icon="{&quot;url&quot;:&quot;<%= image_path('map-marker--primary.svg') %>&quot;,&quot;size&quot;:{&quot;width&quot;:96,&quot;height&quot;:96}}" data-theme="silver" data-zoom="14" style="height: 480px"></div>
          </div>
          <div class="row">
            <div class="col-12 col-lg-6">
              <div class="in-view">
                <h1 class="in-view__child in-view__child--fadein">Strand Tower Hotel</h1>
                <p class="sub-head dashed in-view__child in-view__child--fadein">
                  Strand St & Loop Streets, Cape Town City Centre, Cape Town, 8000
                </p>
                <p class="indent in-view__child in-view__child--fadein">
                  The city’s many major tourist attractions, such as Table Mountain, Robben Island and the V&A Waterfront, are also within easy access from the hotel. Take a red bus tour or visit one of the many food markets around the city.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>