---
title: Rubyfuza - Code of Conduct
---

<div class="site" id="page">
  <header class="site-header" id="masthead">
    <%= partial('partials/desktop_nav')%>
  </header>
  <div class="site-content" id="content">
    <div class="content-area" id="primary">
      <main class="site-main" id="main">
        <section class="section section--singular">
          <div class="container">
            <div class="row">
              <div class="col-12 col-xl-10 offset-xl-1">
                <header class="page-header text-center">
                  <h1 class="page-title">Code of Conduct</h1>
                  <span class="sub-head-2">
                    <span>Rubyfuza — Nov 15, 2018</span>
                  </span>
                </header>
                <div class="single-content">
                  <h5>1.‭ ‬Purpose</h5>
                  <p>A‭ ‬primary‭ ‬goal‭ ‬of‭ RubyFuza ‬is‭ ‬to‭ ‬be‭ ‬inclusive‭ ‬to‭ the‭ largest‭ ‬number‭ ‬of‭ ‬contributors,‭ with‭ the‭ most‭ varied‭ and‭ diverse‭ backgrounds‭ possible.‭ As‭ such,‭ we‭ are‭ committed‭ to‭ providing‭ a‭ friendly,‭ safe‭ and‭ welcoming‭ environment‭ for‭ all,‭ regardless‭ of‭ gender,‭ sexual‭ orientation,‭ ability,‭ ethnicity,‭ socio-economic‭ status,‭ and‭ religion‭ (‬or‭ lack‭ thereof‭)‬.‭</p>
                  <p>This‭ ‬code‭ ‬of‭ ‬conduct‭ ‬outlines‭ ‬our‭ ‬expectations‭ ‬for‭ ‬all‭ ‬those‭ ‬who‭ ‬participate‭ ‬in‭ ‬our‭ ‬community,‭ ‬as‭ ‬well‭ ‬as‭ ‬the‭ ‬consequences‭ ‬for‭ ‬unacceptable‭ ‬behavior.</p>
                  <p>We‭ ‬invite‭ ‬all‭ ‬those‭ ‬who‭ ‬participate‭ ‬in‭ RubyFuza ‬to‭ ‬help‭ ‬us‭ ‬create‭ ‬safe‭ ‬and‭ ‬positive‭ ‬experiences‭ ‬for‭ ‬everyone.</p>
                  <h5>2.‎ ‏Open‭ [‬Source/Culture/Tech‭] ‬Citizenship</h5>
                  <p>A‭ ‬supplemental‭ ‬goal‭ ‬of‭ ‬this‭ ‬Code‭ ‬of‭ ‬Conduct‭ ‬is‭ ‬to‭ ‬increase‭ ‬open‭ [‬source/culture‭/tech] ‬citizenship‭ ‬by‭ ‬encouraging‭ ‬participants‭ ‬to‭ ‬recognize‭ ‬and‭ ‬strengthen‭ ‬the‭ ‬relationships‭ ‬between‭ ‬our‭ ‬actions‭ ‬and‭ ‬their‭ ‬effects‭ ‬on‭ ‬our‭ ‬community.</p>
                  <p>Communities mirror the societies in which they exist and positive action is essential to counteract the many forms of inequality and abuses of power that exist in society.</p>
                  <p>If‭ ‬you‭ ‬see‭ ‬someone‭ ‬who‭ ‬is‭ ‬making‭ ‬an‭ ‬extra‭ ‬effort‭ ‬to‭ ensure‭ ‬our‭ ‬community‭ ‬is‭ ‬welcoming,‭ ‬friendly,‭ ‬and‭ ‬encourages‭ ‬all‭ ‬participants‭ ‬to‭ ‬contribute‭ ‬to‭ ‬the‭ ‬fullest‭ ‬extent,‭ ‬we‭ ‬want‭ ‬to‭ ‬know.</p>
                  <h5>3.‎ ‏Expected‭ ‬Behavior</h5>
                  <p>Participate‭ ‬in‭ ‬an‭ ‬authentic‭ ‬and‭ ‬active‭ ‬way.‭ ‬In‭ ‬doing‭ ‬so you‭ ‬contribute‭ ‬to‭ ‬the‭ ‬health‭ ‬and‭ longevity‭ ‬of‭ ‬this‭ community.</p>
                  <p>Exercise‭ ‬consideration‭ ‬and‭ ‬respect‭ ‬in‭ ‬your‭ ‬speech‭ and‭ ‬actions.</p>
                  <p>Attempt‭ ‬collaboration‭ ‬before‭ ‬conflict. Refrain‭ ‬from‭ demeaning,‭ ‬discriminatory,‭ ‬or‭ ‬harassing‭ ‬behavior‭ ‬and‭ ‬speech.</p>
                  <p>Be‭ ‬mindful‭ ‬of‭ ‬your‭ ‬surroundings‭ ‬and‭ ‬of‭ ‬your‭ ‬fellow‭ participants.‭</p>
                  <p>‬Alert‭ ‬community‭ ‬leaders‭ ‬if‭ ‬you‭ ‬notice‭ ‬a‭ dangerous‭ ‬situation,‭ ‬someone‭ ‬in‭ ‬distress,‭ ‬or‭ ‬violations‭ of‭ this‭ ‬Code‭ ‬of‭ ‬Conduct,‭ ‬even‭ ‬if‭ ‬they‭ ‬seem‭ ‬inconsequential.</p>
                  <h5>4.‎ ‏Unacceptable‭ ‬Behavior</h5>
                  <p>Unacceptable‭ ‬behaviors‭ ‬include:‭ ‬intimidating,‭ ‬harassing,‭ ‬abusive,‭ ‬discriminatory,‭ ‬derogatory‭ ‬or‭ ‬demeaning‭ ‬speech‭ ‬or‭ ‬actions‭ ‬by‭ ‬any‭ ‬participant‭ ‬in‭ ‬our‭ ‬community‭ ‬online,‭ ‬at‭ ‬all‭ ‬related‭ ‬events‭ ‬and‭ ‬in‭ ‬one-on-one‭ ‬communications‭ ‬carried‭ ‬out‭ ‬in‭ ‬the‭ ‬context‭ ‬of‭ ‬community‭ ‬business.‭</p>
                  <p>‬Community‭ ‬event‭ ‬venues‭ ‬may‭ ‬be‭ ‬shared‭ ‬with‭ ‬members‭ ‬of‭ ‬the‭ ‬public‭; ‬please‭ ‬be‭ ‬respectful‭ ‬to‭ ‬all‭ ‬patrons‭ ‬of‭ ‬these‭ ‬locations.</p>
                  <p>Harassment‭ ‬includes:‭ ‬harmful‭ ‬or‭ ‬prejudicial‭ ‬verbal‭ ‬or‭ ‬written‭ ‬comments‭ ‬related‭ ‬to‭ ‬gender,‭ ‬sexual‭ ‬orientation,‭ ‬race,‭ ‬religion,‭ ‬disability‭; ‬inappropriate‭ ‬use‭ ‬of‭ ‬nudity‭ ‬and/or‭ ‬sexual‭ ‬images‭ ‬in‭ ‬public‭ ‬spaces‭ (‬including‭ ‬presentation‭ ‬slides‭); ‬deliberate‭ ‬intimidation,‭ ‬stalking‭ ‬or‭ ‬following‭; ‬harassing‭ ‬photography‭ ‬or‭ ‬recording‭; ‬sustained‭ ‬disruption‭ ‬of‭ ‬talks‭ ‬or‭ ‬other‭ ‬events‭; ‬inappropriate‭ ‬physical‭ ‬contact,‭ ‬and‭ ‬unwelcome‭ ‬sexual‭ ‬attention.</p>
                  <h5>5.‎ ‏Consequences‭ ‬of‭ ‬Unacceptable‭ ‬Behavior</h5>
                  <p>Unacceptable‭ ‬behavior‭ ‬from‭ ‬any‭ ‬community‭ ‬member,‭ ‬including‭ ‬sponsors‭ ‬and‭ ‬those‭ ‬with‭ ‬decision-making‭ ‬authority,‭ ‬will‭ ‬not‭ ‬be‭ ‬tolerated.</p>
                  <p>Anyone‭ ‬asked‭ ‬to‭ ‬stop‭ ‬unacceptable‭ ‬behavior‭ ‬is‭ ‬expected‭ ‬to‭ ‬comply‭ ‬immediately.</p>
                  <p>If‭ ‬a‭ ‬community‭ ‬member‭ ‬engages‭ ‬in‭ ‬unacceptable‭ ‬behavior,‭ ‬the‭ ‬community‭ ‬organizers‭ ‬may‭ ‬take‭ ‬any‭ ‬action‭ ‬they‭ ‬deem‭ ‬appropriate,‭ ‬up‭ ‬to‭ ‬and‭ ‬including‭ ‬a‭ ‬temporary‭ ‬ban‭ ‬or‭ ‬permanent‭ ‬expulsion‭ ‬from‭ ‬the‭ ‬community‭ ‬without‭ ‬warning‭ (‬and‭ ‬without‭ ‬refund‭ ‬in‭ ‬the‭ ‬case‭ ‬of‭ ‬a‭ ‬paid‭ ‬event‭)‬.</p>
                  <h5>6.‎ ‏If‭ ‬You‭ ‬Witness‭ ‬or‭ ‬Are‭ ‬Subject‭ ‬to‭ ‬Unacceptable‭ ‬Behavior</h5>
                  <p>If‭ ‬you‭ ‬are‭ ‬subject‭ ‬to‭ ‬or‭ ‬witness‭ ‬unacceptable‭ ‬behavior,‭ ‬or‭ ‬have‭ ‬any‭ ‬other‭ ‬concerns,‭ ‬please‭ ‬notify‭ ‬a‭ ‬community‭ ‬organizer‭ ‬as‭ ‬soon‭ ‬as‭ ‬possible.</p>
                  <p>Additionally,‭ ‬community‭ ‬organizers‭ ‬are‭ ‬available‭ ‬to‭ ‬help‭ ‬community‭ ‬members‭ ‬engage‭ ‬with‭ ‬local‭ ‬law‭ ‬enforcement‭ ‬or‭ ‬to‭ ‬otherwise‭ ‬help‭ ‬those‭ ‬experiencing‭ ‬unacceptable‭ ‬behavior‭ ‬feel‭ ‬safe.‭ ‬In‭ ‬the‭ ‬context‭ ‬of‭ ‬in-person‭ ‬events,‭ ‬organizers‭ ‬will‭ ‬also‭ ‬provide‭ ‬escorts‭ ‬as‭ ‬desired‭ ‬by‭ ‬the‭ ‬person‭ ‬experiencing‭ ‬distress.</p>
                  <h5>7.‎ ‏Addressing‭ ‬Grievances</h5>
                  <p>If‭ ‬you‭ ‬feel‭ ‬you‭ ‬have‭ ‬been‭ ‬falsely‭ ‬or‭ ‬unfairly‭ ‬accused‭ ‬of‭ ‬violating‭ ‬this‭ ‬Code‭ ‬of‭ ‬Conduct,‭ ‬you‭ ‬should‭ ‬notify‭ a RubyFuza official ‬with‭ ‬a‭ ‬concise‭ ‬description‭ ‬of‭ ‬your‭ ‬grievance.‭ ‬Your‭ ‬grievance‭ ‬will‭ ‬be‭ ‬handled‭ ‬in‭ ‬accordance‭ ‬with‭ ‬our‭ ‬existing‭ ‬governing‭ ‬policies.‭</p>
                  <h5>8.‎ ‏Scope</h5>
                  <p>We‭ ‬expect‭ ‬all‭ ‬community‭ ‬participants‭ (‬contributors,‭ ‬paid‭ ‬or‭ ‬otherwise‭; ‬sponsors‭; ‬and‭ ‬other‭ ‬guests‭) ‬to‭ ‬abide‭ ‬by‭ ‬this‭ ‬Code‭ ‬of‭ ‬Conduct‭ ‬in‭ ‬all‭ ‬community‭ ‬venues‭—‬online‭ ‬and‭ ‬in-person‭ ‬as‭ ‬well‭ ‬as‭ ‬in‭ ‬all‭ ‬one-on-one‭ ‬communications‭ ‬pertaining‭ ‬to‭ ‬community‭ ‬business.</p>
                  <h5>9.‎ ‏Contact‭ ‬info</h5>
                  <p>‎This‭ ‬should‭ ‬be‭ ‬a‭ ‬single‭ ‬person‭ or‭ ‬a‭ ‬small‭ ‬team‭ ‬who‭ ‬can‭ ‬respond‭ ‬to‭ ‬issues‭ ‬directly‭:</p>
                  <p>Ruberto Paulo (@legend_rob)</p>
                  <p>Kenneth Kalmer (@legend_rob)</p>
                  <p>Emails can be provided on request for private matters. Twitter handles are preferred due to privacy concerns.</p>
                  <div class="single-content__footer">
                    <div class="single-content__tags">
                      <span class="sub-head-2">License and‭ ‬attribution</span>
                      <p>This‭ ‬Code‭ ‬of‭ ‬Conduct‭ ‬is‭ ‬distributed‭ ‬under‭ ‬a‭ ‬Creative‭ ‬Commons‭ Attribution-ShareAlike‭ ‬license.</p>
                    </div>
                    <div class="single-content__share">
                      <span class="sub-head-2">Revision 1.0</span>
                      <p>Adopted by the RubyFuza and Friends on the 15th October 2018. Posted 24th April 2014.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
  </div>
  <footer class="site-footer" id="colophon" role="contentinfo">
    <%= partial('partials/footer')%>
    <div class="site-info">
      <div class="container">
        <div class="row in-view">
          <div class="col-12 col-md-6 col-xl-5 offset-xl-1">
            <a class="sub-head" href="">
              With
              <i class="fa fa-heart color--secondary"></i> by Ruberto</a>
          </div>
          <div class="col-12 col-md-6 col-xl-5 text-md-right">
            <a class="sub-head dashed dashed--reverse in-view__child in-view__child--in" href="#">© 2010 - 2018 Rubyfuza</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <div class="go-up" id="up">
    <a class="go-up__btn" href="#page">
      <span class="btn btn--primary btn--circle">
        <i class="fa fa-chevron-up"></i>
      </span>
    </a>
  </div>
  <%= partial('partials/mobile_nav')%>
</div>